
spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/testing
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: dGhpcy1pcy1hLXZlcnktbG9uZy1zZWNyZXQta2V5LWJhc2U2NA==

